html {
    -webkit-appearance: none;
}

header {
    display: block;
    Top: 0;
}

main {
    display: block;
    margin: 200px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#google-logo {
    border: 0px;
    width: 272px;
}

input {
    display: block;
    height: 40px;
    width: 500px;
    border: 1px solid lightgray;
    border-radius: 25px;
    margin: 15px auto 0px auto;
}


#button-container {
    display: block;
    padding: 0px;
    justify-content: center;
    margin: 0 auto 0 auto;
}

.input-button {
    background-color: #f8f9fa; 
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    color: darkslategrey;
    margin: 10px auto 10px auto;
    width: 150px;
    display: block;
}


footer {
    background-color: lightgrey;
    position: absolute;
    bottom: 0;
    width: 100%;
    align-content: flex-end;
}

a {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    color: darkslategrey;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

.thumbnail {
    height: 35px;
    width: 35px;
}

#header-left {
    float: left;
}

#header-right {
    float: right;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

#footer-left {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
}

#footer-right {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
}