header {
    display: block;
    Top: 0;
}

main {
    display: block;
    margin: 200px;
}


#google-logo {
    border: 0px;
    width: 272px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    display: block;
    height: 40px;
    width: 500px;
    border: 1px solid lightgray;
    border-radius: 25px;
    margin: 15px auto 0px auto;
}


#button-container {
    display: flex;
    padding: 0px;
    align-content: center;
    justify-content: center;
    margin: 0 auto 0 auto;
    width: 700px;
}

footer {
    background-color: lightgrey;
    position: absolute;
    bottom: 0;
    width: 100%;
    align-content: flex-end;
}

a {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    color: darkslategrey;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

.thumbnail {
    height: 35px;
    width: 35px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#header-left {
    float: left;
    width: 200px;
    height: 50px;
    align-content: center;
}

#header-right {
    float: right;
    width: 200px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 5px 10px 5px 10px;
    vertical-align: middle;
}

#footer-left {
    float: left;
    margin-left: 10px;
    padding: 0px;
}

#footer-right {
    float: right;
    margin-right: 10px;
    padding: 0px;
}

.input-button {
    background-color: #d3d3d3; 
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    color: darkslategray;
    width: 150px;
    height: 50px;
    text-align: center;
}

.input-button:hover {
    color: #d3d3d3; 
    background-color: darkslategray;
    cursor: pointer;
}

#fred-pic {
    border-radius: 50%;
}